<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <h1>Welcome to <%= title%></h1>
        <p>This web is created by using ExpressJS with EJS view engine.</p>
    </body>
</html>